:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --additional-color:#757575;

  
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
margin-top: 4px;

}
ul {
  list-style: none;
}
p {
  color: var(--additional-color);
}
.container{;
 align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
outline: 2px;color: #000;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.top-line {
  background: #ffffff;
  margin-top: 32px;
height: 31px;



}

.page-header{
  display: flex;
  align-items:center;
  justify-content: center;

}
/* logotype*/
.logo{
 margin-right: 93px;
}
.logo a:hover,
.logo a:focus {
  color: var(--accent-color);
}
.logo a {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2px;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);;
}
/* site navigation*/
.site-nav a:hover,
.site-nav a :focus {
  color: var(--accent-color);
}
.site-nav{
  display:flex;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  m
}
.site-nav ul{
padding-left: 93px;  
}
.site-nav li:not(:last-child){
  margin-right:  50px;
}
.site-nav a {
  
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.site-nav a.current {
  color: var(--accent-color);
}
.color-nav  {
 margin-left: auto;
}
.color-nav a{
  color: var(--additional-color); 
}
.main{
  padding: 0;
  margin: 0;
}
/*cap*/
.cap {
  background: #2f303a;
  color: #ffff;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 1600px;
height: 600px;
left: 0px;
top: 80px;
}
.cap h1{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  
 padding: 200px 452px 30px 452px;




}

.button-cap :hover,
.button-cap:focus {
  color: var(--accent-color);
}
.button-cap {
  background-color: var(--accent-color);
  color: #ffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  
  
}
/*features*/
.features{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;

  
}
.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* what we do*/
.we_do_section li:not(:last-child){
  margin-right:  30px;
}
.we_do_section{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  
}
.we_do h2{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}

/*our team*/
.team-section  {
padding: 0px;
margin: 0px;
background-color:#FFFFFF;
}

.team  {
  background-color: #F5F4FA
  
}

.team h2{
  font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.03em;
}
.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.info_team :not(:first-child){
  margin-left :30px;
  
  
}
.info_team {
  margin-bottom: 0;
}
.info_team {
  padding: 0;
  margin-right: 0;
  display: flex;
  background-color:#F5F4FA;
  
}
/*portfolio*/
.portfolio{

}

/* button portfolio*/
.button-portfolio {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  padding:  94px 512px 34px 512px; 
  display: flex;
  align-items:center;
  justify-content: center;
}
.button-portfolio li{
  margin-bottom: 50px;
}
/*portfolio page*/
.button-all{
  background: var(--accent-color);
color: #FFFFFF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.list-button{
  margin-left :8px;
}
.list-button:hover,
.list-button:focus {
  background:var(--accent-color);
  color: #FFFFFF;

}
.list-button {
  background: #F5F4FA;
border-radius: 4px;
color: #212121;
}
/* portfolio project*/
.project  :nth-child(3n){
  margin-right: 0px;
}
.container ul {
  margin: 0px;
  padding:0px;
}
.project  {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
padding: 0;
margin: 0;
margin-bottom: 30px;
  margin-right: 30px;
  align-items:center;
  justify-content: center;

}
.project a{
  border: 1px solid #EEEEEE;
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0;
}
.work-titles  {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
list-style: none;

}
.work-text{
  font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--additional-color);

}
/*basement*/
.basement{
  background-color: #2f303a;
height: 252px;
}
.basement_inf_logo{
  padding-top:  60px;
  
  }
.basement a {
 
  font-family: 'Raleway';
  font-style: normal;
  color: #ffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.basement-inf{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
padding: 0;
  margin: 0;
}
.basement-inf a {
  color: #ffffff99;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
  text-decoration: none;
}
